.container {
    width: 20vw;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
    background-color: #F6F6F6;
    position: fixed;
    left: 0;
    padding: 2%;
    /* border: 1px solid red; */
}

.container p {
    /* border: 1px solid red; */
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 8%;
    color: rgba(46, 44, 44, 0.904);
    letter-spacing: .1rem;
}

ul {
    text-align: left;
}
li {
    color: rgba(90, 84, 84, 0.904);
    /* border: 1px solid green; */
    padding: 3% 0;
    display: block;
    position: relative;
    right: 5%;
}
li input {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .container {
        position: static;
        margin: auto;
        width: 70vw;
        height: 100%;
        padding: 5%;
        /* background-color: grey; */
        display: none;
    }
}